body {
    background-image: url(
    "https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80"
    );
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
.formContainer {
    padding: 200px;
}
.row>.col, .bd-example-row .row>[class^="col-"]{
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: ghostwhite;
    /*border: 1px solid grey;*/
}

.col-5{
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: grey;
    opacity: 0.5;
    text-align: center;
    text-wrap: normal;
}
.col-5 text
{
    opacity: 1;
    color: red;
    font-size: large;
    font-weight: bold;
}

.form-select:focus ~ label, .form-select:not([value=""]):valid ~ label{
    top:0%;
    font-size:14px;
    color:#5264AE;
}
.form-select:not(focus) ~ label {
    top: 15%;
    font-size: 18px;
    opacity: 1;
    color: #000000;
}